.btn{width: 60px;height: 30px}
body{
    background: #3B0E4F url("../image/1803377615.jpg") no-repeat center;
    background-size: auto;
}
#bt1{
    background-color: transparent;
    content:"hello";
    transition: all 10s;
}
#bt1:hover{
    background-color: darkorange;

}